.screen {
    background-color: brown;
    min-width: 300px;
    min-height: 200px;
    max-width: 100vw;
    max-height: 100vh;
}
.left {
    background-color: green;
    max-width: 30vw;
    min-width: 120px;
    height: 100vh;
}
.right {
    position: relative;
    background-color: #00f;
}
.logged-user-info {
    height: 1cm;
    background-color: lightgray;
    border-right-color: blueviolet;
    border-width: 1px;
}
.chat-user-info {
    height: 1cm;
    background-color: azure;
    border-right-color: blueviolet;
    border-right: 1px;
}
.messages-container {
    background-color: chocolate;
    height: calc(100vh - 2cm);
}
.submit-block {
    position: relative;
    background-color: red;
    height: 1cm;  
    vertical-align: bottom;  
}