.chat-tile-container {
    border-radius: 5px;
    position: relative;
    width: 300px;
    height: 1.3cm;
    background-color: blanchedalmond;
    flood-color: brown;
    border-color: transparent;
    position: relative;
    color: black;
}
.chat-tile-container:hover {
    background-color: bisque;
}
.chat-tile-container:focus {
    background-color: burlywood;
}

.time-text {
    position: absolute;
    float:right;
    bottom: 6px;
    right: 9px;
    color: #303030;
    padding-right: 5px;
    font-weight: 100;
    font-size: small;
}
.prof-pic {
    position: absolute;
    min-height: 1.2cm;
    min-width: 1.2cm;
    max-width: 1.2cm;
    max-height: 1.2cm;
    left:1px;
    top:1px;
    border-radius: 50%;
}
.chat-title {
    position: relative;
    left:1.05cm;
    top: -7px;
    width: 5px;
    font-weight: 500;
    font-size: large;
}
.last-message {
    position: relative;
    color: black;
    left: 1.05cm;
    bottom: 8px;
    font-size: small;
    direction: ltr;
    text-align: left;
    width:max-content;
}
.notification-bubble {
    position: relative;
    float: right;
    right: -7px;
    top: -2px;
}
.spacer {
    min-height: 2px;
    max-height: 2px;
}
