.welcomeText{
    position: absolute;
}

.card{
max-height: 80%;
max-width: 70%;
margin: 15%,15%,15%,15% ;
padding: 75%,70%,60%,0%;

}

#cardBlock {
    margin: 15%, 15%, 15%, 15%;
    max-height: 600px;
    padding: 15%,70%,20%,30%;

}


















